body{
  background-color: MEDIUMSLATEBLUE;
}
.btn-success{
  height: 200px;
  width: 700px;
  font-size: 100px;
  color: black;
  border: solid 15px black;
  background-color: white;
  border-radius: 40px;
}
h1{
  font-size: 100px;
}
.instructions{
  font-size: 30px;
}

.image{
  height: 500px;
  padding-left: 60px;
  margin-bottom: 50px;
}

.footer{
  height: 100px;
  background-color: black;
}
