body{
  background-color: gold;
}
strong{
  font-size: 100px;
  text-align: center;
  padding-left: 60px;
}
h2{
  padding-top: 20px;
  font-size: 50px;
}
#hebrewTitle{
  float: right;
  font-size: 50px;
  padding-right: 50px;
}
.container-fluid{
  height: 600px;
  /*border: solid black;*/
}
.container-fluid .time{
  height: 150px;
  border: solid black;
}

.container-fluid .card{
  height: 150px;
  /*border: solid black;*/
}
.container-fluid .number{
  height: 122px;
  margin: -19px;
  /*border: solid black;*/
}
.container-fluid .info{
  height: 200px;
  /*border: solid black;*/
  height: 247px;
}

.top{
  margin-top: 30px;
  height: 150px;
  /*border: solid black;*/
  padding-left: 125px;
}
.container{
  height: 530px;
  /*border: solid black;*/
}
.col-sm-4{
  padding-top: 50px;
  height: 400px;
  border: solid black;
}
.col-sm-3{
  height: 400px;
  border: solid black;
}
.col-sm-5{
  height: 400px;
  border: solid black;
}

/*button {
  border: 2px solid #000;
  cursor: pointer;
  height: 130px;
  margin: 0 -2px;
  outline: none;
  padding: 0;
  width: 150px;
}*/
.grid{
  /*border: 2px solid #000;*/
  height: 132px;
  padding-top: 10px;
  background-color: white;

}

.start-game{
  width: 300px;
  margin-left: 361px;
  margin-top: 17px;
  font-size: 50px;
}

section {
  margin: 0 auto;
  position: relative;
  width: 500px;
}
.currentCard{
  margin-left: 40px;
}
.number{
  height: 50px;
}
