body{
  /*background-color: gold;*/
}

.backgroundImage{
  position: absolute;
  width: 1500px;
}
strong{
  font-size: 100px;
  text-align: center;
  padding-left: 70px;
}
h2{
  padding-top: 0px;
  font-size: 100px;
  margin-top: 0;
  padding-left: 90px;
}
h3{
  position: absolute;
  font-size: 32px;
  padding-left: 10px;
  margin-top: 34px;
}
.roundNumber{
  font-size: 22px;
  padding-left: 0px;
}
#hebrewTitle{
  float: right;
  font-size: 50px;
  padding-right: 50px;
}
.container-fluid{
  height: 600px;
  /*border: solid black;*/
}
.container-fluid .time{
  height: 115px;
  margin-top: 5px;
  /*border: solid 7px black;*/
  border-bottom: solid black;
  border-radius: 10px 10px 10px 10px;
  padding: 0px;
}



.container-fluid .card{
  margin-top: 10px;
  height: 150px;
  border: solid black;
}
.container-fluid .number{
  height: 122px;
  margin: -19px;
  /*border: solid black;*/
}
.container-fluid .info{
  height: 200px;
  /*border: solid black;*/
  height: 247px;
}

.top{
  height: 100px;
  /*border: solid black;*/
  padding-left: 125px;
}
.container{
  height: 530px;
  /*border: solid black;*/
}
.col-sm-4{
  padding-top: 50px;
  height: 400px;
  border: solid black;
}
.logo{
  border-radius: 0px 10px 10px 0px;
  border: solid 7px black;
}
.col-sm-3{
  background-color: MEDIUMSLATEBLUE;
  height: 400px;
  border: solid 7px black;
  border-radius: 10px 0px 0px 10px;
  padding-left: 14px;
}
.col-sm-5{
  height: 400px;
  border: solid black;
}

/*button {
  border: 2px solid #000;
  cursor: pointer;
  height: 130px;
  margin: 0 -2px;
  outline: none;
  padding: 0;
  width: 150px;
}*/
.grid{
  /*border: 2px solid #000;*/
  height: 132px;
  padding-top: 10px;
  background-color: white;


}

.options{
  width: 400px;
  margin-left: 325px;
  margin-top: 17px;
  font-size: 50px;
  position: relative;
  border: solid 5px black;
  border-radius: 10px;
}

section {
  margin: 0 auto;
  position: relative;
  width: 500px;
}
.currentCard{
  margin-top: 10px;
  margin-left: 40px;
}
.number{
  height: 50px;
}

/*modal after this*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: GOLD;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 15px solid black;
    width: 50%;
    height: 40%;
    font-size: 90px;
    text-align: center;
    border-radius: 40px;
}
.lose{
  background-color: red;
  height: 310px;
}

/* The Close Button */
.close {
    color: BLACK;
    float: right;
    font-size: 100px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.closeLose{
  color: BLACK;
  float: right;
  font-size: 100px;
  font-weight: bold;
}
.closeLose:hover,
.closeLose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width:768px){
  body{

    }
    .top{
      height: 1px;
      /*border: solid black;*/
      padding-left: 125px;
    }
  .backgroundImage{
        position: absolute;
        width: 667px;
  }
  h2{
    padding-top: 0px;
    font-size: 50px;
    margin-top: 0;
    padding-left: 90px;
  }
  h3{
    position: absolute;
    font-size: 25px;
    padding-left: 10px;
    margin-top: 15px;
  }
  .first{
    height: 350px;
  }
  .container-fluid .time{
    height: 60px;
    width: 136px;
    float: left;
    margin-top: 5px;
    /*border: solid 7px black;*/
    border-bottom: solid black;
    border-radius: 10px 10px 10px 10px;
    padding: 0px;
  }
  .container-fluid .card{
    margin-top: 10px;
    height: 150px;
    border: solid black;
    float: left;
  }
  .container-fluid .number{
    height: 122px;
    margin: -19px;
    float: left;
    /*border: solid black;*/
  }
  .container-fluid .info{
    height: 200px;
    /*border: solid black;*/
    /*height: 247px;*/
  }
  .roundNumber{
    font-size: 25px;
    padding-left: 35px;
    padding-top: 25px;
  }
  strong{
    padding-left: 115px;
    font-size: 70px;

  }
  .container{
    height: 375px;
    /*border: solid black;*/
  }
  .col-sm-4{
    padding-top: 1px;
    height: 100px;
    border: solid black;
  }
  .logo{
    /*border-radius: 0px 10px 10px 0px;*/
    /*border: solid 7px black;*/
    float: left;
  }
  .logoImg{
    height: 100px;
  }
  .col-sm-3{
    width: 100%;
    background-color: MEDIUMSLATEBLUE;
    height: 80px;
    border: solid 7px black;
    border-radius: 10px 0px 0px 10px;
    padding-left: 14px;
    margin-bottom: 10px;
  }
  .col-sm-5{
    position: absolute;
    width: 360px;
    height: 288px;
    border: solid black;
    float: left;
  }
  .main{
    border: none;

  }
  .grid{
    /*border: 2px solid #000;*/
    height: 90px;
    padding-top: 10px;
    background-color: white;
  }
  .colGrid{
    width: 120px;
    float: left
  }
  .gridImg{
    height: 60px;
    width: 60px;
  }
  .row{
    margin-right: 3px;
  }
  .currentCard{
    margin-top: 10px;
    margin-left: 40px;
    float: left;
    height: 50px;
    width: 50px;
  }
  .number{
    height: 50px;
  }
  .options{
    width: 275px;
    height: 75px;
    margin-left: 0;
    font-size: 38px;
  }
  .stop-clock{
    margin-left: 340px;
  }
  .turn-off-cards{
    margin-left: 340px;
  }
  /* The Modal (background) */
  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
      background-color: GOLD;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 15px solid black;
      width: 50%;
      height: 230px;
      font-size: 38px;
      text-align: center;
      border-radius: 40px;
  }
  .lose{
    background-color: red;
    height: 230px;
  }

  /* The Close Button */
  .close {
      color: BLACK;
      float: right;
      font-size: 100px;
      font-weight: bold;
  }
  .close:hover,
  .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  }
  .closeLose{
    color: BLACK;
    float: right;
    font-size: 100px;
    font-weight: bold;
  }
  .closeLose:hover,
  .closeLose:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  }

}
