body{
  /*background-color: gold;*/
}

.backgroundImage{
  position: absolute;
  width: 1500px;
}
strong{
  font-size: 100px;
  text-align: center;
  padding-left: 60px;
}
h2{
  padding-top: 0px;
  font-size: 100px;
  margin-top: 0;
  padding-left: 85px;
}
#hebrewTitle{
  float: right;
  font-size: 50px;
  padding-right: 50px;
}
.container-fluid{
  height: 600px;
  /*border: solid black;*/
}
.container-fluid .time{
  height: 130px;
  margin-top: 5px;
  border: solid 7px black;
  border-radius: 10px 10px 10px 10px;
  padding: 0px;
}



.container-fluid .card{
  margin-top: 10px;
  height: 150px;
  border: solid black;
}
.container-fluid .number{
  height: 122px;
  margin: -19px;
  /*border: solid black;*/
}
.container-fluid .info{
  height: 200px;
  /*border: solid black;*/
  height: 247px;
}

.top{
  height: 150px;
  /*border: solid black;*/
  padding-left: 125px;
}
.container{
  height: 530px;
  /*border: solid black;*/
}
.col-sm-4{
  padding-top: 50px;
  height: 400px;
  border: solid black;
}
.logo{
  border-radius: 0px 10px 10px 0px;
  border: solid 7px black;
}
.col-sm-3{
  background-color: MEDIUMSLATEBLUE;
  height: 400px;
  border: solid 7px black;
  border-radius: 10px 0px 0px 10px;
  padding-left: 14px;
}
.col-sm-5{
  height: 400px;
  border: solid black;
}

/*button {
  border: 2px solid #000;
  cursor: pointer;
  height: 130px;
  margin: 0 -2px;
  outline: none;
  padding: 0;
  width: 150px;
}*/
.grid{
  /*border: 2px solid #000;*/
  height: 132px;
  padding-top: 10px;
  background-color: white;


}

.options{
  width: 400px;
  margin-left: 325px;
  margin-top: 17px;
  font-size: 50px;
  position: relative;
  border: solid 5px black;
  border-radius: 10px;
}

section {
  margin: 0 auto;
  position: relative;
  width: 500px;
}
.currentCard{
  margin-top: 10px;
  margin-left: 40px;
}
.number{
  height: 50px;
}
